# DOSbox config file for compiling all ACS scripts

[sdl]
usescancodes = false
fullscreen = false
fullresolution = 640 x 480

[render]
aspect = false
scaler = none

[midi]
mpu401 = none
mididevice = none

[speaker]
pcspeaker = false
tandy = off
disney = false

[joystick]
joysticktype = none

[sblaster]
sbtype = none
oplmode = none

[gus]
gus = false

[cpu]
cycles = fixed 12000

[ipx]
ipx = false

[autoexec]
mount c .
c:

tools\acc map01.acs
tools\acc map02.acs
tools\acc map03.acs
tools\acc map04.acs
tools\acc map05.acs
tools\acc map06.acs
tools\acc map08.acs
tools\acc map09.acs
tools\acc map10.acs
tools\acc map11.acs
tools\acc map12.acs
tools\acc map13.acs
tools\acc map21.acs
tools\acc map22.acs
tools\acc map23.acs
tools\acc map24.acs
tools\acc map25.acs
tools\acc map26.acs
tools\acc map27.acs
tools\acc map28.acs
tools\acc map30.acs
tools\acc map31.acs
tools\acc map32.acs
tools\acc map33.acs
tools\acc map34.acs
tools\acc map35.acs
tools\acc map36.acs
tools\acc map37.acs
tools\acc map38.acs
tools\acc map39.acs
tools\acc map40.acs

exit
